@import "tailwindcss";

:root {
  --foreground: #1b150e;
  --primary: #ffffff;
  --secondary: #D0D0D0;
  --accent: #449ed8;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.transformer-table table thead tr th:first-child {
  border-top-left-radius: 5px;
}

.transformer-table table thead tr th:last-child {
  border-top-right-radius: 5px;
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}