@import "tailwindcss";

.transformers-table table thead tr th:first-child {
  border-top-left-radius: 5px;
}

.transformers-table table thead tr th:last-child {
  border-top-right-radius: 5px;
}

.transformers-table table tbody tr:last-child td:last-child {
  border-end-end-radius: 5px;
}

.transformers-table table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.transformers-table table {
  @apply min-w-full table-auto md:table-fixed text-sm shadow-md rounded-[5px] border border-[#f0f0f0];
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}

.input-search {
  flex: 1;
  outline: none !important;
  color: white !important;
  background: unset !important;
  border: none !important;
}

.ant-checkbox-label {
  color: #449ed8;
}